.experience h2 {
	font-size: calc(30px + 2vw);
	position: relative;
	float: right;
	transform: translate(0, -300%);
	outline: none;
	text-decoration: none;
  color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-100deg, rgba(14,210,247, 1), rgba(14,210,247, .7) 75%,  rgba(14,210,247, 0));
}

.experience {
  transition: all 0.3s;
}

.exp-expand {
  background-color:rgb(14,210,247);
  height: 100vh;
  width: 100vw;
}

.exp-bubble {
  transition: all 0.3s;
  border-radius: 50%;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(14,210,247);
  width: 30vw;
  height: 30vw;
  margin-left: 60%;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/ucsd-logo.png");
  background-color: white;
}
