.experience h2 {
	font-size: calc(20px + 2vw);
	position: relative;
	transform: translate(0, -300%);
	outline: none;
	text-decoration: none;
  color: white;
  margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.exp-right h2 {
	float: right;
  background-image: linear-gradient(-100deg, rgba(14,210,247, 1), rgba(14,210,247, .7) 40vw,  rgba(14,210,247, 0));
}

.exp-left h2 {
  float: left;
  background-image: linear-gradient(-100deg, rgba(14,210,247, 0), rgba(14,210,247, .7) 40vw,  rgba(14,210,247, 1));
}

.experience {
  transition: all 0.3s;
}

.exp-expand {
  background-color:rgb(14,210,247);
  height: 100vh;
  width: 100vw;
}

.experience .exp-expand .exp-bubble {
  border-width: 0px !important;
}

.exp-bubble:hover { transform: scale(1.1); }

.exp-left .exp-bubble {
  margin-left: calc(20% - 15vw);
}

.exp-right .exp-bubble {
  margin-left: calc(80% - 15vw);
}

.exp-bubble {
  transition: all 0.3s;
  border-radius: 50%;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(14,210,247);
  width: 30vw;
  height: 30vw;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.ucsd {
  background-image: url("../images/ucsd-logo.png");
}

.kitu {
  background-size: 65%;
  background-image: url("../images/kitu-logo.png");
}

.ieee {
  background-image: url("../images/ieee-logo.png");
  background-size: 80%;
}

.pib {
  background-size: 60%;
  background-image: url("../images/pib-logo.png");
}

.tesc {
  background-image: url("../images/tesc-logo.png");
}

.teals {
  background-size: 50%;
  background-image: url("../images/teals-logo.png");
}

.girls {
  background-size: 80%;
  background-image: url("../images/girls-logo.png");
}

.back-ucsd {
  background-image: url("../images/ucsd-background.jpg");
}
