.project-card{
  position: relative;
  display: block;
  width: 60%;
  min-height: 40vh;
  height: auto;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
  }
  .info-section{
    position: relative;
    width: 100%;
    min-height: 40vh;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 30px;
    .project-title{
      position: relative;
      padding: 0px;
    }
    .project-desc{
      padding: 0px;
    }
  }
  .blur-back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .project-title{
    width: 65%;
  }

  .project-desc{
    width: 50%;
  }

  .info-section{
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, transparent 100%);
  }

  .blur-back{
    width: 80%;
  }

  .bright-back{
    background: url('../images/wdym.png') no-repeat;
    width: 70%;
    background-position: left;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .project-card{
    width: 95%;
    margin: 70px auto;
  }

  .blur-back{
    width: 100%;
    background-position: 50% 50% !important;
  }

  .project-title{
    width: 100%;
    margin-top: 85px;
  }

  .project-desc{
    width: 100%;
  }

  .info-section{
    margin-top: 50%;
    height: 50%;
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }

  .bright-back{
    background: url('../images/wdym.png') center no-repeat;
    background-size: cover;
    width: 100%;
  }
}
