/* Typed.js Blinking Cursor */

.introtext {
  font-size: 2em;
  position: absolute;
  left: 0;
  bottom: 10%;
  text-align: center;
  width: 100%;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(14, 210, 247, .6);
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
