#about {
  padding-top: 5vh;
  min-height: 100vh;
}

.ball {
  position: absolute;
  bottom: 100%;
  left: -10px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-width: 0;
  background-color: rgb(14, 210, 247);
}

.complete {
  position: relative;
  display: inline-block;
}

.complete:after {
  content: '';
	position: relative;
	display: block;
	width: calc(100% + 12px);
  left: -10px;
	height: 4px;
	margin-top: -0.7em;
	transform-origin: center left;
	animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
  background: #0ed2f7;
}

.complete:before {
  content: '';
	position: absolute;
  left: -20px;
  top: 8px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-width: 0;
  background-color: rgb(14, 210, 247);
  opacity: 0;
  transition: all 0.5s;
}

/* Little hover effect */

.complete:hover {
  font-weight: 400;
  cursor: pointer;
  color: #0ed2f7;
}

.complete:hover:before {
	opacity: 1;
}

.complete:hover:after {
	transform: scaleX(0);
	transform-origin: center left;
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.bottom {
  bottom: 0%;
}

.bounce {
  -webkit-animation: MoveUpDown 20s linear infinite;
}

@-webkit-keyframes MoveUpDown {
    0% {
      bottom: 100%;
    }
    50% {
      bottom:0%;
    }
    100% {
      bottom: 100%;
    }
}

.items {
  position: relative;
  border-left: 4px solid #0ed2f7;
  padding: 10px;
}

.section {
  margin: 0 10vw;
}

.section h1, h2 {
  text-align: center;
  color: #0ed2f7;
}

.section {
  color: #272727;
  font-weight: 200;
  font-size: 1.3rem;
}

#bucket-list {
  position: relative;
  font-size: 1.4rem;
  margin-right: 0;
}

.section b {
  color: #0ed2f7;
  font-size: 1.6rem;
}

.about-image {
  max-width: 100%;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(14, 210, 247, 0);
  background-color: rgb(14, 210, 247);
  display:block;
  padding:10px;
  transition: all .2s ease-in-out;
}

.about-image:hover {
  transform: scale(1.05);
}

.about-text-right {
  display: block;
  width: auto;
  width: 100%;
}

.about-text {
  padding-bottom: 5%;
}

.info > img {
  height: 80vw;
  width: 80vw;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(14, 210, 247, 0);
  background-color: rgb(14, 210, 247);
  display:block;
  padding:10px;
  transition: all .2s ease-in-out;
}

.info-text {
  margin: 2vh 10vw 5vh 0;
}

@media (min-width: 720px) {

  .section h1, h2 {
    text-align: left;
    margin: 0;
  }

  .about-text-right {
    vertical-align: middle;
    display: inline-block;
    max-width: 55%;
  }

  .about-image {
    max-width: 40%;
    display: inline-block;
    margin-right: 4%;
  }

  .info {
    top: calc(50vh - 25vw);
    position: absolute;
    right: 10vw;
  }

  .info > img {
    width: 30vw;
    height: 30vw;
  }

  .info-text {
    width: 30vw;
    height: 20vw;
    margin: 2vh 0vw 5vh 0;
  }

  #fix-it {
    position: fixed;
  }

  #bottom {
    position: absolute;
    top: calc(100% - (50vh + 25vw + 7vh));
  }
}
