body {
  background: url("../photos/grid3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: 100vh auto;
  -moz-background-size: 100vh auto;
  -o-background-size: 100vh auto;
  background-size: 100vh auto;
}

#bucket-list {
  position: relative;
  top: -12rem;
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  margin: 0 10vw;
  text-align: center;
  padding: 0;
}

#bucket-list a {
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin: 0 auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bucket-list .image {
  width: 36vw;
  height: 36vw;
  font-size: 400%;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(14, 210, 247, 0);
  background-color: rgba(14, 210, 247, .7);
  margin: auto;
}

#bucket-list img {
  padding: 0 !important;
  opacity: 0.7;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bucket-list img:hover {
  filter: none !important;
  opacity: 1 !important;
}

#bucket-list p {
  color: white;
  position: relative;
  top: -40%;
  background-color: rgba(14, 210, 247, .8);
  pointer-events: none;
}

#bucket-list a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 720px) {

  body {
    background-color: #0ed2f7;
  }

  #bucket-list {
    grid-template-columns: repeat(5, 16vw);
  }

  #bucket-list .image {
    width: 12vw;
    height: 12vw;
  }

  #bucket-list a {
    width: 12vw;
    height: 12vw;
    margin: 2vh auto;
  }
}
