html body {
  font-family: 'Nunito', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

@import url("https://use.typekit.net/qvw6icc.css");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  display:inline-block !important;
}

.modal {
  text-align: center !important;
}

.close-modal {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: blue;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid white;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(14, 210, 247, .4);
  -webkit-box-shadow: 1px 1px 5px rgba(14, 210, 247, .4);
  box-shadow:         1px 1px 5px rgba(14, 210, 247, .4);
}

.project-card {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 8rem;
  padding: 12rem 0rem 16rem 0rem;
  text-align: center;
  background-color: #0ed2f7;
  mask: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/336747/mk-projet-bg.svg") no-repeat 50% 50%;
  -webkit-mask: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/336747/mk-projet-bg.svg") no-repeat 50% 50%;
  mask-size: 200% 100%;
  -webkit-mask-size: 200% 100%;
  /** take care to use SVG with no aspect ratio preserved for Safari **/
  z-index: 1;
}

.project-card.header {
  top: -12rem;
}

.bottom {
  height: 12rem;
  overflow: hidden;
}

.project-card.footer {
  margin-bottom: 0;
}

.project-card.project-card--alt {
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/336747/mk-projet-bg-alt.svg");
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/336747/mk-projet-bg-alt.svg");
}
@media (min-width: 72rem) {
  .project-card {
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    padding: 12rem 2rem 16rem 2rem;
    /** take care to use SVG with no aspect ratio preserved for Safari **/
  }
}
.project-card:before {
  position: absolute;
  bottom: 2rem;
  left: -20%;
  display: block;
  font-size: 20rem;
  font-weight: 700;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0);
  content: attr(data-title);
  z-index: 2;
}
.project-card > * {
  position: relative;
  z-index: 3;
}
.project-card > h1 {
  font-size: calc(36px + (72 - 36) * ((100vw - 300px) / (1600 - 300)));
  max-width: 60ch;
  margin: 0 auto 0;
  color: white;
}
.project-card > h2 {
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  max-width: 80%;
  margin: 0 auto 0;
  color: white;
  font-weight: 400;
}
.project-card > a {
  font-size: 2.5rem;
  max-width: 40ch;
  margin: 0 auto 0;
  color: white;
  font-weight: 400;
}

.heading {
  padding-top: 6rem;
}
